<%- include('./partials/header')%>
<div class="container">
    <h1 class="display-4 test-center">404</h1>
    <h2 class="display-1 text-muted">OOPS!!! Page does not exits</h2>
    <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
        Take me home!</a>
</div>

<%- include('./partials/footer')%>